.canvas-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  position: relative;
  --drawer-width: 350px;
}

.canvas-container.drawer-closed {
  --drawer-width: 20px;
}

.excalidraw-wrapper {
  flex: 1 1 0%;
  width: auto;
  height: 100%;
  min-width: 0;
  /* ensures flex child shrinks properly */
}

/* Remove margin-left logic */

